<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.storagereloaded.android">

    <application
        android:name=".StoReApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StoRe">
        <activity android:name=".ui.TagEditActivity"></activity>
        <activity android:name=".ui.TagListActivity" />
        <activity android:name=".ui.ItemEditActivity" />
        <activity android:name=".ui.ItemViewActivity" />
        <activity
            android:name=".ui.DatabaseSettingsActivity"
            android:label="@string/title_activity_database_settings" />
        <activity
            android:name=".ui.DatabaseListActivity"
            android:label="@string/title_activity_database_list" />
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Store.Login" />
        <activity
            android:name=".ui.AppSettingsActivity"
            android:label="@string/title_activity_app_settings" />
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.StoRe">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>